[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
six = "*"
jedi = "*"
"jinja2" = "*"
kivy = "*"
pillow = "*"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"
watchdog = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
